<section>
  <h2>Log In</h2>
  <form class="login_form">
    <label for="username_login">Username</label><br />
    <input id="username_login" type="text" /><br />
    <label for="password_login">Password</label><br />
    <input id="password_login" type="password" /><br />
    <button type="submit">Log In</button>
  </form>
  <p>Don't have an account yet?
    <a href="/signup">Sign up</a>
    </p>
</section>
<script src="./js/login.js"></script>